{{#partial "title" }}
Check out my travel photos!
{{/partial}}

{{#partial "content"}}
<h1>Favorite Traveling Photos</h1>
<ul>
    <li><img src='/images/pic.jpg' alt='A photo.'/></li>
</ul>
{{/partial}}

{{> layout.hbs}}